PRIVATE-TOKEN=
BASE_URL=
PROJECT_ID=
PATH_TO_FILES=
RMQ_PUBLISHER_HOST=
RMQ_PUBLISHER_USERNAME=
RMQ_PUBLISHER_PASSWORD=
RMQ_PUBLISHER_EXCHANGE=
RMQ_PUBLISHER_CLIENT_QUEUE=
RMQ_PUBLISHER_CLIENT_ROUTING_KEY=
GCHAT_WEBHOOK=